[submodule "skeletons/cpp/opt/cpr"]
	path = skeletons/cpp/opt/cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "skeletons/cpp/json"]
	path = skeletons/cpp/json
	url = https://github.com/nlohmann/json
